{%extends 'layout.html'%}

{%block body%}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Navbar</a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
</nav>

<div class="container">
    <div class="card-columns">
        <div class="col-sm-12 bg-light">
            <div class = "col-md-12">
            <h3>Quiz</h3>
            <hr>
            </div>
        </div>
        <div class="col-md-4 bg-light">
            <div class = "col-xl-6">
            <h3>Chat</h3>
            </div>
        </div>
    </div>
</div>
{%endblock%}