<!DOCTYPE html>
<html>
<head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/static/css/topic.css" >
        <link rel="stylesheet" href="/static/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/login.css">
        <!-- <link rel="stylesheet" href="/static/css/chat.css"> -->
        <script src="/static/js/bootstrap.bundle.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
</head>

<body>
    {%block body%}
    {%endblock%}
</body>